body
{
	background: #2E3740;
	color: #ec3030;
	font-family: "Open Sans", sans-serif;
}

a{
	color: white;
}

img
{
	cursor: pointer;
}

#cajon1
{
	float:left;
	margin-left: 2%;
	width: 23%;
	border-right: 1px dotted white;
	height: 600px;
}

#cajon2
{
	float:right;
	width: 72%;
}

.titulo
{
	color: white;
	font-weight: bold;
	font-size: 2em;
	text-align: center;
	margin-bottom: 20px;
	text-shadow: 2px 2px black;
}

a
{
	text-decoration: none;
}

.login
{
	width: 350px;
	position: absolute;
	top: 10%;
	left: 50%;
	margin-left: -175px;
}

input[type="text"], input[type="password"], input[type="email"], input[type="date"], input[type="number"], input[type="search"], select {
 width: 24%;
 padding: 20px 0px;
 margin-right: 10px;
 background: transparent;
 border: 0;
 border-bottom: 1px solid #435160;
 outline: none;
 color: #435160 ;
 font-size: 1.5em;
}

input[type="search"]
{
	width: 95%;
    margin-bottom: 15px;
    margin-left: -14px;
}

#guarda {
 background: #1FCE6D;
 border: 0;
 width: 95%;
 height: 40px;
 border-radius: 3px;
 color: #fff;
 font-size: 1.0em;
 cursor: pointer;
 transition: background 0.3s ease-in-out;
}
#guarda:hover {
 background: #16aa56;
 animation-name: shake;
}

::-webkit-input-placeholder {
 color: #435160;
 font-size: 0.8em;
}

hr
{
	border: 1px solid #435160;
}


.abajo
{
	padding-right: 21px;
	background: url('../img/abajo.png') no-repeat right 5px;	
}

.arriba
{
	padding-right: 21px;
	background: url('../img/arriba.png') no-repeat right 5px;	
}



#titulo
{
	margin: 15px;
	float: left;
	padding-left: 5px;
	width: 90%;
	color: white;
	font-size: 1.5em
}

#header
{
	margin: 0px auto !important;	
}

#logout
{
    position: absolute;
    margin-left: 10px;
    margin-top: 5px;
    border: 2px solid;
    border-radius: 50%;
    padding: 5px; 
}

#atras
{
	margin-top: 5px;
	width: 30px;
    padding: 5px;
    border: 2px solid;
    border-radius: 50%;
    margin-left: 433px;
}


#ButtonHeader
{
	position:absolute;
	display: inline-block;
	margin-right: 2px;
}
#crearEjercicio
{
	width: 15%;
    height: 30px;
     margin-top: 5px;
    padding-top: 15px;
    display: inline-block;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 30px;
    background: #4caf50;
    color: black;
}
