doctype html
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1.h1= subject
      center
        img(src='https://scontent-mia1-1.xx.fbcdn.net/v/t34.0-12/14872576_10210859575955034_403392028_n.png?oh=dda984861317091f2930b82fb84400a8&oe=5815B2B6')
      p= text
