doctype html
html(lang='es')
  head
    title three.js webgl - geometry - catmull spline editor
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
    style.
      body {
      font-family: Monospace;
      background-color: #f0f0f0;
      margin: 0px;
      overflow: hidden;
      }
  body
    input#Array_Cubos(name='Array_Cubos', type='text' style="display:none")
    script(src='js/build/three.js')
    script(src='js/controls/OrbitControls.js')
    script(src='js/controls/TransformControls.js')
    script(src='js/controls/DragControls.js')
    script(src='js/libs/stats.min.js')
    script(src='js/jquery-1.11.3.min.js')
    script(src='js/script.js')